<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="../static/style/page_rating.css"/>
        <link rel="stylesheet" type="text/css" href="../static/style/ui-lightness/jquery-ui-1.8.20.custom.css"/>
        <script type="text/javascript" src="../static/scripts/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="../static/scripts/jquery-ui-1.8.20.custom.min.js"></script>
        <script type="text/javascript" src="../static/scripts/page_rating.js"></script>
        <title>Test</title>
    </head>
    <body>
        <div class="column" id="candidates"></div>
		<div id="selected_rating"></div>
        <div class="column" id="rating">
            <div class="slider_button" id="plus_box">+</div>
            <div id="slider_box"></div>
            <div class="slider_button" id="minus_box">-</div>
        </div>
    </body>
</html>
