body
{
  width: 		640px;
  height: 		960px;
  border: 		2px solid black;
  font-family:	Arial, Helvetica, sans-serif
}

div.selected_candidate
{
	background-color: #6495ED;
	color: white;
	font-weight: bold;
	font-size: 20px;
}

span.selected_candidate
{
	font-size: 11px;
	font-weight: bold;
}

.candidate
{
  border: 1px solid black;
  height: 25px;
}

.slider_button
{
	width: 20px;
	height: 20px;
	border: 1px solid black;
	text-align: center;
}

.candidate_label
{
	border: 1px solid black;
	font-size: 10px;
	height: 40px;
	margin-top: 5px;
	padding-left: 4px;
	padding-top: 3px;
}

.clear
{
	clear:		both;
}

#candidates
{
  float: left;
  width: 225px;
  padding: 10px;
}

#rating
{
  float: left;
  width: 20px;
  padding: 30px 25px 0px 5px;
}

#slider_box
{
  width: 10px;
  height: 500px;
  border: 1px solid black;
  margin-left: 5px;
}

#selected_rating
{
	float:			right;
	padding:		15px;
	width:			37%
}

#selected_rating .ratingGood,
#selected_rating .ratingBad,
#selected_rating .ratingNeutral
{
	height:		27px;
	display:	block;
	float:		right;
}
#selected_rating .ratingGood
{
	width:		14px;
	background-image:	url(../thumbs_up.png);
}
#selected_rating .ratingBad
{
	width:		14px;
	background-image:	url(../thumbs_down.png);
}
#selected_rating .ratingNeutral
{
	width:		27px;
	background-image:	url(../neutral-emoticon.png);
}

#selected_rating span
{
	display:	block;
	float:		right;
}

#tick_marks
{
	float: left;
	width: 5px;
	padding-top: 25px;
	padding-left: 30px;
	line-height: 50px;
}

#slider_labels
{
	float: left;
	width: 295px;
}

#plus_5
{
	background-color: #00FF00
}

#plus_4
{
	background-color: #33FF00
}

#plus_3
{
	background-color: #66FF00
}

#plus_2
{
	background-color: #99FF00
}

#plus_1
{
	background-color: #CCFF00
}

#dont_care
{
	background-color: #FFFF00
}

#minus_1
{
	background-color: #FFCC00
}

#minus_2
{
	background-color: #FF9900
}

#minus_3
{
	background-color: #FF6600
}

#minus_4
{
	background-color: #FF3300
}

#minus_5
{
	background-color: #FF0000
}
